@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #5E503F;
  background: #EAE0D5;
}

.profile-picture{
  width:75px;
  height: 75px;
  border-radius: 50%;
}

footer{
  background: #5E503F;
  color: "#fff"
}